
<h1>Books</h1>

<% @book.each do |book| %>
<p>title</p>
<span>
  <%= link_to book.title, book_path(book.id) %>
</span>

<p>body</p>
<span>
  <%= link_to book.body, book_path(book.id) %>
</span>
<% end %>

<h2>New book</h2>

<%= form_with model: @book, url: '/books',method: :post do |f| %>
<h2>title</h2>
<%= f.text_field :title %>

<h2>body</h2>
<%= f.text_area :body %>

<%= f.submit :'Create Book' %>

<% end %>
